<a href="https://colab.research.google.com/github/Rinaldrago05/Data_Science_Learning/blob/main/Pandas_Ishan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Creating, Reading & Writing**

## **Getting Started**

In [1]:
# Importing pandas as pd
# Importing numpy as np

import pandas as pd
import numpy as np

## **Creating Data**

**DataFrame**

In [2]:
# Making a Data Frame, using a dictionary.
# The key becomes the column name.
# The value makes up the rows under that column. 

fruits=pd.DataFrame({'Apples':[30,21],'Bananas':[21,54]})
fruits

   Apples  Bananas
0      30       21
1      21       54

In [3]:
# In general there is no row name given when any dataframe is made.
# The rows are numbered as 0,1,2,.....
# To give explicit row names, we can do so by passing a list to the index variable, containing the row names.

x=pd.DataFrame({'Apples':[30,21],'Bananas':[21,54]},index=['Row 1','Row 2'])
x

       Apples  Bananas
Row 1      30       21
Row 2      21       54

In [4]:
# If we want to create a dataframe, where every row has got the same value, then we can do it by the below process.
# Since, in this process, the columns cannot be mentioned as the key, hence we use columns variable to name the cols.

df=pd.DataFrame([[4, 9]]*3,columns=['A','B'])
df

   A  B
0  4  9
1  4  9
2  4  9

**Series**

In [5]:
# Series is a single column table.

x=pd.Series([1,2,3,4,5])
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# The index is used to give the row names in series just as in dataframe.
# The name is used to give the name to the series i.e. to the single column table.
# If we merge many series into a dataframe, then these names will become the respective column names in the dataframe.

y=pd.Series([1,2,3,4,5],index=['A','B','C','D','E'],name="Column 1")
y

A    1
B    2
C    3
D    4
E    5
Name: Column 1, dtype: int64

## **Reading Data Files**

In [7]:
# The read_csv() is used to read a csv file into the memory using python.

wine_reviews=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Pandas/winemag-data-130k-v2.csv")

In [8]:
# The shape is used to print the dimension of the table, i.e. row * col.
 
wine_reviews.shape

(129971, 14)

In [9]:
# The head is used to print the first n rows of the table.
# If n not specified then first 5 rows are printed.

wine_reviews.head(n=10)

   Unnamed: 0   country  ...             variety               winery
0           0     Italy  ...         White Blend              Nicosia
1           1  Portugal  ...      Portuguese Red  Quinta dos Avidagos
2           2        US  ...          Pinot Gris            Rainstorm
3           3        US  ...            Riesling           St. Julian
4           4        US  ...          Pinot Noir         Sweet Cheeks
5           5     Spain  ...  Tempranillo-Merlot               Tandem
6           6     Italy  ...            Frappato      Terre di Giurfo
7           7    France  ...      Gewürztraminer             Trimbach
8           8   Germany  ...      Gewürztraminer          Heinz Eifel
9           9    France  ...          Pinot Gris   Jean-Baptiste Adam

[10 rows x 14 columns]

In [10]:
# The tail is used to print the last, n rows of the table.
# If n not specified then last 5 rows are printed.

wine_reviews.tail(n=10)

        Unnamed: 0  ...                                    winery
129961      129961  ...                                       COS
129962      129962  ...                                  Cusumano
129963      129963  ...                                    Dalton
129964      129964  ...                           Domaine Ehrhart
129965      129965  ...                   Domaine Rieflé-Landmann
129966      129966  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967      129967  ...                                  Citation
129968      129968  ...                           Domaine Gresser
129969      129969  ...                      Domaine Marcel Deiss
129970      129970  ...                          Domaine Schoffit

[10 rows x 14 columns]

In [11]:
# There is unnamed extra column of row numbers when we open csv file, because csv got its own row label column(deafult- 0,1,2,....).
# So when, you open the csv file using pandas, pandas creates its own row label column(default- 0,1,2,...).
# Hence, to select the row label col for the dataframe from a file while using pandas, we select the first row of the csv file itself as the row label col
# for the data frame.
# To select row label column from the file, we use index_col. The value will be the row number.

reviews = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Pandas/winemag-data-130k-v2.csv",index_col=0)
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

## **Write Data Files**

In [12]:
# The to_csv function can be used to save dataframes in csv format.
# The row and the col labels can be given explicitly using the index and header variables in the form of list to store in the csv file.

animals=pd.DataFrame({'Cows': [12, 20],'Goats': [22, 19]},index=['Year 1', 'Year 2'])
animals.to_csv("cows_and_goats.csv",header=['Cows','Goats'],index=['Year 1','Year 2'])

# **Indexing, Selecting & Assigning**

## **Native Accessors**

In [13]:
# Dot operator can be used to access a particular column of the file using pandas.
# It creates a series.
reviews.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [14]:
# Index operator can also be used to access a particular column of the file using pandas.
# Both dot and index operators can be used but if used most preferred one is index.
# Because, if there is a column having a name 'Particualar Region', then reviews.Particular Region, will show error, or will not access the right column.
# But in case of index operator it will work fine (reviews['Particular Region']).

reviews['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [15]:
# We can use double indexing to select a particular row element from a particular column.
# Both of the following code can be used.
# First value will be for column and the second will be for row.

# reviews['country'][0]
reviews.country[0]

'Italy'

##**Indexing in Pandas**

**Index-Based Selection**

In [16]:
# The iloc is index based indexing.
# It can be used just like slicing operators are used in python.
# The first value selects the row and the second one column.

reviews.iloc[0]
# reviews.iloc[:,0]
# reviews.iloc[:3,0]
# reviews.iloc[1:3,0]
# reviews.iloc[[0,1,2],0]
# reviews.iloc[-5:]

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

**Label-Based Selection**

In [17]:
# The loc is label based indexing.
# It can be used just like slicing operators used in python.
# The first value selects the row and the second one column.
# It can be used just like iloc containing both digits for rows and cols.
# But for the col part it can have col_names or col labels too.
# And for the row part it can have boolean expressions too.

# V.V.Imp: The loc is label based indexing means, if the row index is not sequential like [0,1,2,...], and it is like [5,665,9,7,12,...] random nos, where,
# 5 represents the 1st row, 7 the 2nd and so on, then if we use dataframe.loc[0:3], it wont select any rows, rather will give error. Bcz it never interprets
# the values given in the loc as an integer position along the index. In loc, we need to give the exact row values. Like if we need to select the first 4 rows,
# we need to say dataframe.loc[5:7], or dataframe.loc[:7], where rows with indeces 5,665,9,7 will be selected. Similarly, if we write, dataframe.loc[:665],
# it wouldn't select all the rows from 0 to 665 (even if that no of rows exists in the dataframe), rather it will only select the first 2 rows with indeces 
# 5 & 665. 

reviews.loc[0,'country']
# reviews.loc[:,['taster_name','taster_twitter_handle','points']]

'Italy'

**Choosing Between loc and iloc**

In [18]:
# In case of iloc this indexing will choose rows of nos --> 0,1,2,3,....,99

reviews.iloc[0:100]

     country  ...               winery
0      Italy  ...              Nicosia
1   Portugal  ...  Quinta dos Avidagos
2         US  ...            Rainstorm
3         US  ...           St. Julian
4         US  ...         Sweet Cheeks
..       ...  ...                  ...
95    France  ...          Henry Fessy
96    France  ...          Henry Fessy
97        US  ...           Heron Hill
98     Italy  ...  Serpaia di Endrizzi
99        US  ...     Soquel Vineyards

[100 rows x 13 columns]

In [19]:
# In case of loc this indexing will choose rows of nos --> 0,1,2,3,....,100

reviews.loc[0:100]

      country  ...               winery
0       Italy  ...              Nicosia
1    Portugal  ...  Quinta dos Avidagos
2          US  ...            Rainstorm
3          US  ...           St. Julian
4          US  ...         Sweet Cheeks
..        ...  ...                  ...
96     France  ...          Henry Fessy
97         US  ...           Heron Hill
98      Italy  ...  Serpaia di Endrizzi
99         US  ...     Soquel Vineyards
100        US  ...              Ventosa

[101 rows x 13 columns]

## **Manupulating The Index**

In [20]:
# If we want to explicitly use a col from the table itself to make it and its values our row label index, we can do so.
# Instead of the default(0,1,2,3,...,n) or maybe user defined one.
# Simply to have a new row label index from the table itself, we use it.
# The set_index is used, where the column label name is passed.

reviews.set_index("title")

                                                     country  ...                                    winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...                                   Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...                       Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley)             US  ...                                 Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (...        US  ...                                St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child ...        US  ...                              Sweet Cheeks
...                                                      ...  ...                                       ...
Dr. H. Thanisch (Erben Müller-Burggraef) 2013 B...   Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
Citation 2004 Pinot Noir (Oregon)                         US  ...                                  Citation
Domaine Gresser 2013 Kritt Gewurztraminer (Alsace)    France  ...                           Domaine Gresser
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France  ...                      Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France  ...                          Domaine Schoffit

[129971 rows x 12 columns]

## **Conditional Selection**

In [21]:
# This is a boolean function, checking whether there is any value under the col country having the value 'Italy'.

reviews.country=='Italy'

0          True
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [22]:
# We can use boolean expression inside loc to select 

reviews.loc[reviews.country=='Italy']
# reviews.loc[(reviews.country=='Italy') & (reviews.points>=90)]
# reviews.loc[(reviews.country=='Italy') | (reviews.points>=90)]

       country  ...                           winery
0        Italy  ...                          Nicosia
6        Italy  ...                  Terre di Giurfo
13       Italy  ...              Masseria Setteporte
22       Italy  ...               Baglio di Pianetto
24       Italy  ...                        Canicattì
...        ...  ...                              ...
129929   Italy  ...             Col Vetoraz Spumanti
129943   Italy  ...  Baglio del Cristo di Campobello
129947   Italy  ...         Feudo Principi di Butera
129961   Italy  ...                              COS
129962   Italy  ...                         Cusumano

[19540 rows x 13 columns]

**isin**

In [23]:
# The isin function can be used to check whether the current value is present in the passed iterable, dict, dataframe, list.

reviews.loc[reviews.country.isin(['Italy','France'])]

       country  ...                   winery
0        Italy  ...                  Nicosia
6        Italy  ...          Terre di Giurfo
7       France  ...                 Trimbach
9       France  ...       Jean-Baptiste Adam
11      France  ...               Leon Beyer
...        ...  ...                      ...
129964  France  ...          Domaine Ehrhart
129965  France  ...  Domaine Rieflé-Landmann
129968  France  ...          Domaine Gresser
129969  France  ...     Domaine Marcel Deiss
129970  France  ...         Domaine Schoffit

[41633 rows x 13 columns]

**notnull & isnull**

In [24]:
# These functions basically returns the same object we are passing, where each value will be either True or False.
# The notnull returns true for those values which are not nan, and false for nan values.
# The isnull returns true for those values which are nan, and false for nan values.
# Now, here in the below case, when we pass it into loc, operator, it only chooses to select those values and displays them who have True boolean value across them.

reviews.loc[reviews.price.notnull()]
# reviews.loc[reviews.price.isnull()]

         country  ...                                    winery
1       Portugal  ...                       Quinta dos Avidagos
2             US  ...                                 Rainstorm
3             US  ...                                St. Julian
4             US  ...                              Sweet Cheeks
5          Spain  ...                                    Tandem
...          ...  ...                                       ...
129966   Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967        US  ...                                  Citation
129968    France  ...                           Domaine Gresser
129969    France  ...                      Domaine Marcel Deiss
129970    France  ...                          Domaine Schoffit

[120975 rows x 13 columns]

## **Assigning Data**

In [25]:
# We can add extra cols which is not present in a dataframe by the below method. 
# And the value in different rows under that new col can be given a single default value by the below method.

reviews['critic']='everyone'

In [26]:
# Here in this case the rows under the new col are given different values.
# These different values are given using the range function to make a list of values.
# User can give explicit values as per wish in a list where the no of values = no of rows in the dataframe and assign it to the new col. 

reviews['index_backwards']=range(len(reviews),0,-1)

# **Summary Functions & Maps**

## **Summary Functions**

In [27]:
# The describe function is a summary function.
# It provides a high level summary of the attributes/values in the rows of the given col.
# It works differently for string and numerical data, i.e. provides with different types of summaries.
# In the below example it deals with string data.

reviews.points.describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [28]:
# In the below example describe function deals with numeric data.

reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [29]:
# This gives the mean of selected data.
# It can be applied to a single or more than one row or col.
# You can select the axis for its execution, whether to select row or col.

reviews.points.mean()

88.44713820775404

In [30]:
# This unique function gives back an array of unique values present.
# It gives the unique values in order of the appearance. It doesnot sort it.
# It includes NA values.

reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [31]:
# This function provides the count of the unique values.
# By default drops Na values.

reviews.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

## **Maps**

In [32]:
# Map function is a function which takes one set of values and map them into another set of values.
# Map can take in either a function, collection or series.
# Doesnot works on dataframes.

reviews.points.map(lambda p:p - reviews.points.mean())

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [33]:
# Another example of using map on series.

s=pd.Series(['cat','dog',np.nan,'rabbit'])

s.map({'cat':'kitten','dog':'puppy'})
# s.map('I am a {}'.format)

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object

In [34]:
# This is also a method of making a new mapped series without mapping function.

review_points_mean=reviews.points.mean()
reviews.points-review_points_mean
# reviews.country+'-'+reviews.region_1

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [35]:
# This apply a function along an axis of the dataframe.

def remean_points(row):
  row.points=row.points-review_points_mean
  return row
  
reviews.apply(remean_points,axis='columns')

         country  ... index_backwards
0          Italy  ...          129971
1       Portugal  ...          129970
2             US  ...          129969
3             US  ...          129968
4             US  ...          129967
...          ...  ...             ...
129966   Germany  ...               5
129967        US  ...               4
129968    France  ...               3
129969    France  ...               2
129970    France  ...               1

[129971 rows x 15 columns]

# **Grouping & Sorting**

## **Groupwise Analysis**

In [36]:
# The groupby function is used to group large amounts of data and compute operations on these groups.
# We can give axis varibale to it. 0 --> split along rows, 1 --> split along cols.
# The dropna bool variable can be used. If True --> Na are dropped as keys. False --> Na are treated as keys.
# This returns a groupby object and not a series or dataframe. 

reviews.groupby('price').points.count()
# reviews.groupby('points').price.min()

price
4.0        11
5.0        46
6.0       120
7.0       433
8.0       892
         ...
1900.0      1
2000.0      2
2013.0      1
2500.0      2
3300.0      1
Name: points, Length: 390, dtype: int64

In [37]:
# We can use lambda functions also.

reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [38]:
# We can use as many as cols to make a groupby object.

reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  ... index_backwards
country   province                     ...
Argentina Mendoza Province  Argentina  ...           47217
          Other             Argentina  ...           51668
Armenia   Armenia             Armenia  ...           63825
Australia Australia Other   Australia  ...           92089
          New South Wales   Australia  ...           44634
...                               ...  ...             ...
Uruguay   Juanico             Uruguay  ...          120838
          Montevideo          Uruguay  ...          114221
          Progreso            Uruguay  ...           36868
          San Jose            Uruguay  ...           90073
          Uruguay             Uruguay  ...           90610

[425 rows x 15 columns]

In [39]:
# We can also use agg function to use, where we can pass some aggregate functions.
# len gives the number of rows under same groupby row tag.
# min gives the minimum value of a particular chosen col for the groupby row tags.
# Similarly, max gives the maximum.

reviews.groupby(['country']).price.agg([len, min, max])

                            len   min     max
country
Argentina                3800.0   4.0   230.0
Armenia                     2.0  14.0    15.0
Australia                2329.0   5.0   850.0
Austria                  3345.0   7.0  1100.0
Bosnia and Herzegovina      2.0  12.0    13.0
Brazil                     52.0  10.0    60.0
Bulgaria                  141.0   8.0   100.0
Canada                    257.0  12.0   120.0
Chile                    4472.0   5.0   400.0
China                       1.0  18.0    18.0
Croatia                    73.0  12.0    65.0
Cyprus                     11.0  11.0    21.0
Czech Republic             12.0  15.0    45.0
Egypt                       1.0   NaN     NaN
England                    74.0  25.0    95.0
France                  22093.0   5.0  3300.0
Georgia                    86.0   9.0    40.0
Germany                  2165.0   5.0   775.0
Greece                    466.0   8.0    79.0
Hungary                   146.0  10.0   764.0
India                       9.0  10.0    20.0
Israel                    505.0   8.0   150.0
Italy                   19540.0   5.0   900.0
Lebanon                    35.0  13.0    75.0
Luxembourg                  6.0  16.0    30.0
Macedonia                  12.0  15.0    20.0
Mexico                     70.0   8.0   108.0
Moldova                    59.0   8.0    42.0
Morocco                    28.0  14.0    40.0
New Zealand              1419.0   7.0   130.0
Peru                       16.0  10.0    68.0
Portugal                 5691.0   5.0  1000.0
Romania                   120.0   4.0   320.0
Serbia                     12.0  15.0    42.0
Slovakia                    1.0  16.0    16.0
Slovenia                   87.0   7.0    90.0
South Africa             1401.0   5.0   330.0
Spain                    6645.0   4.0   770.0
Switzerland                 7.0  21.0   160.0
Turkey                     90.0  14.0   120.0
US                      54504.0   4.0  2013.0
Ukraine                    14.0   6.0    13.0
Uruguay                   109.0  10.0   130.0

## **Multi-indexes**

In [40]:
# This is a multi-index dataframe, i.e. it is different from regular dataframes bcz it has more than one level to it.

countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [41]:
# This shows that the index of the countries_reviewd dataframe is multiindex object.

mi=countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [42]:
# Reset index can be used to remove one or more levels from a multiindex dataframe.
# If the index is multiple levels, i.e. multiindex dataframe, we can reset one or more or all of them.
# For that we need to mention those levels inside the level variable. If not mentioned, all of them gets reseted.
# If all the levels are reseted, then the defualt one is used.
# Reset index will change the order of rows of the original dataframe. The arrangement after will be equivalent to the arrangement of the rows due to groupby function.
# It will not return to the original dataframe arrangement of rows before groupby function is used.
# If we donot mention any level all the levels gets reseted automatically.
# The description here is a col name.

reviews.groupby(['country', 'province']).description.agg([len]).reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [43]:
# The sort_values is used to sort a dataframe along a certain axis.
# In by we give the name of the cols we want to use to sort the values.
# Here ascending parameter can be used.

reviews.groupby(['country', 'province']).description.agg([len]).reset_index().sort_values(by='len',ascending=False)

          country         province    len
392            US       California  36247
415            US       Washington   8639
118        France         Bordeaux   5941
227         Italy          Tuscany   5897
409            US           Oregon   5373
..            ...              ...    ...
101       Croatia              Krk      1
247   New Zealand        Gladstone      1
357  South Africa  Piekenierskloof      1
63          Chile          Coelemu      1
149        Greece           Beotia      1

[425 rows x 3 columns]

In [44]:
# We use this method to sort the row label or the indeces.
# A parameter kind can be used to tell  what kind of sort algo needs to be used.
# By default it is Quicksort.

reviews.groupby(['country', 'province']).description.agg([len]).reset_index().sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

# **Data Types & Missing Values**

## **Dtypes**

In [45]:
# The dtype operator can be used on any column of a dataframe or a series to know the datatye of it .

reviews.price.dtype
# reviews.index.dtype

dtype('float64')

In [46]:
# The dtypes operator can also be used to give a list of datatypes of all the cols of a dataframe.
# String objects can be displayed having a datatype of object which is string only.

reviews.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
critic                    object
index_backwards            int64
dtype: object

In [47]:
# We can change the datatype of a col or the whole dataframe using astype function.

reviews.points.astype('float64')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

## **Missing Data**

In [48]:
# review.country is giving the series of the country col in the dataframe.
# pd.isnull basically gives us a series of bool values. True --> if nan, False --> if not nan.
# Putting this inside the reviews, prints or gives only those rows whose country col has nan.

reviews[pd.isnull(reviews.country)]

       country  ... index_backwards
913        NaN  ...          129058
3131       NaN  ...          126840
4243       NaN  ...          125728
9509       NaN  ...          120462
9750       NaN  ...          120221
...        ...  ...             ...
124176     NaN  ...            5795
129407     NaN  ...             564
129408     NaN  ...             563
129590     NaN  ...             381
129900     NaN  ...              71

[63 rows x 15 columns]

In [49]:
# The fillna function is used to fill all the nan fields in either a particular col or in only the mentioned cols or whole dataframe.

reviews[['region_1','region_2']].fillna("Unknown")
# reviews.region_2.fillna("Unknown")
# reviews.fillna("Unknown")

                   region_1           region_2
0                      Etna            Unknown
1                   Unknown            Unknown
2         Willamette Valley  Willamette Valley
3       Lake Michigan Shore            Unknown
4         Willamette Valley  Willamette Valley
...                     ...                ...
129966              Unknown            Unknown
129967               Oregon       Oregon Other
129968               Alsace            Unknown
129969               Alsace            Unknown
129970               Alsace            Unknown

[129971 rows x 2 columns]

In [50]:
# We can use replace function to replace a particular field or data with another data in the dataframe

reviews.taster_twitter_handle.replace("@kerinokeefe","@kerino")

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

# **Renaming & Combining**

## **Renaming**

In [51]:
# The rename function can be used to rename a particular col name or index name.
# Here, we have renamed a col using dictionary.
# To do that we pass a dictionary to the columns varibale.
# The dictionary key will be the current col name and the value will be the new col name.

reviews.rename(columns={'points': 'score'})

         country  ... index_backwards
0          Italy  ...          129971
1       Portugal  ...          129970
2             US  ...          129969
3             US  ...          129968
4             US  ...          129967
...          ...  ...             ...
129966   Germany  ...               5
129967        US  ...               4
129968    France  ...               3
129969    France  ...               2
129970    France  ...               1

[129971 rows x 15 columns]

In [52]:
# Here, we are renameing the index name.
# Dictionary is passed to the variable index.
# The key represents the previous index name and the value represents the new index name.
# This dictionary got two key-value pairs. So, two index name are being changed at the same time.

reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

              country  ... index_backwards
firstEntry      Italy  ...          129971
secondEntry  Portugal  ...          129970
2                  US  ...          129969
3                  US  ...          129968
4                  US  ...          129967
...               ...  ...             ...
129966        Germany  ...               5
129967             US  ...               4
129968         France  ...               3
129969         France  ...               2
129970         France  ...               1

[129971 rows x 15 columns]

In [53]:
# Set the name of the axis for the index or columns.
# The rename_axis is used to either give name or rename a particular axis, i.e. either give name to the index axis or the col axis.
# Here, we have done both.

reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

fields   country  ... index_backwards
wines             ...
0          Italy  ...          129971
1       Portugal  ...          129970
2             US  ...          129969
3             US  ...          129968
4             US  ...          129967
...          ...  ...             ...
129966   Germany  ...               5
129967        US  ...               4
129968    France  ...               3
129969    France  ...               2
129970    France  ...               1

[129971 rows x 15 columns]

## **Combining**

In [54]:
# We can concat csv's using the concat fucntion.
# Here, we have concated two csv's by passing the two of them in a list.
# Concatenate pandas objects along a particular axis with optional set logic along the other axes.

canadian_youtube = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Pandas/CAvideos.csv")
british_youtube = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Pandas/GBvideos.csv")

pd.concat([canadian_youtube, british_youtube])

          video_id  ...                                        description
0      n1WpP7iowLc  ...  Eminem's new track Walk on Water ft. Beyoncé i...
1      0dBIkQ4Mz1M  ...  STill got a lot of packages. Probably will las...
2      5qpjK5DgCt4  ...  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3      d380meD0W0M  ...  I know it's been a while since we did this sho...
4      2Vv-BfVoq4g  ...  🎧: https://ad.gt/yt-perfect\n💰: https://atlant...
...            ...  ...                                                ...
38911  l884wKofd54  ...  NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912  IP8k2xkhOdI  ...  THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913  Il-an3K9pjg  ...  Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914  -DRsfNObKIQ  ...  Eleni Foureira represented Cyprus at the first...
38915  4YFo4bdMO8Q  ...  Debut album 'Light of Mine' out now: http://ky...

[79797 rows x 16 columns]

In [55]:
# Join columns of another DataFrame.
# Join columns with other DataFrame either on index or on a key col.
# Efficiently join multiple DataFrame objects by index at once by passing a list.

left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

                                                                 video_id_CAN  ... description_UK
title                                              trending_date               ...
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       PNn8sECd7io  ...            NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       DvPW66IFhMI  ...            NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       EXEaMjFeiEk  ...            NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       bYvQmusLaxw  ...            NaN
                                                   17.21.12       bYvQmusLaxw  ...            NaN
...                                                                       ...  ...            ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       WttN1Z0XF4k  ...            NaN
                                                   18.29.04       WttN1Z0XF4k  ...            NaN
                                                   18.30.04       WttN1Z0XF4k  ...            NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       Wt9Gkpmbt44  ...            NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       Az72jrKbANA  ...            NaN

[40900 rows x 28 columns]